.styled-input::placeholder {
  color: rgb(255, 255, 255); /* Change placeholder text color */
}
/* Cross-browser compatibility */
.styled-input::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
}
.styled-input:-ms-input-placeholder {
  color: rgb(255, 255, 255);
}
.styled-input::-ms-input-placeholder {
  color: rgb(255, 255, 255);
}

.footer_bg {
  background: rgb(0,0,0);
background: linear-gradient(142deg, rgba(0,0,0,1) 0%, rgba(246,248,249,1) 100%);
}

footer a.text-reset {
  color: red; /* Initial link color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease; /* Smooth transition */
}

footer a.text-reset:hover {
  color: red; /* Change to desired hover color */
  text-decoration: underline; /* Add underline on hover */
}

.footer-link {
  transition: color 0.3s ease, transform 0.3s ease-out;
}

.footer-link:hover {
  transform: scale(1.1);
}